/* font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");

:root {
  --dark: #191919;
  --white: #fff;
  --text-color-light: #f1f1f1;
  --text-color-dark: #191919;
  --font-family: "Montserrat", sans-serif;
  --font-family-header: "Playball", sans-serif;
  --orange: #f9b965;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  color: var(--text-color-dark);
  font-family: var(--font-family);
  height: 100%;
  text-align: center;
  width: 100%;
}

body {
  margin: 0;
  background: var(--light-grey);
}

img {
  max-width: 100%;
  height: auto;
}

/* ---------------------------- NAVBAR ----------------------------------*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--dark);
  margin: 0;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.35s;
  display: inline-block;
  position: relative;
}

.topnav a:first-child {
  float: left;
}

.topnav a span {
  font-weight: 800;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: var(--orange);
}

.topnav a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--orange);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.topnav a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  color: var(--orange);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 950px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 950px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* ---------- Footer ---------- */
footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 35px 10% 60px 10%;
  background-color: #fcfcfc;
}

footer h2 {
  font-size: 16px;
  color: var(--orange);
  padding: 10px 0;
}

footer p,
footer ul {
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: inherit;
}

.left-footer,
.middle-footer,
.right-footer {
  justify-content: center;
  text-align: start;
  width: 20%;
  padding-left: 6%;
}

.fa-facebook {
  color: var(--orange);
  padding-top: 8px;
}

.right-footer h2 {
  padding-bottom: 0;
}

@media screen and (max-width: 767px) {
  /* Footer */
  footer {
    flex-direction: column;
  }
}

.google-map {
  width: 100%;
  max-width: 1200px;
  height: 400px;
  border: none;
  margin-top: 5vh;
}

/* ---------- page styling ---------- */
.page {
  display: none;
  min-height: calc(100vh - 60px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
}

/* ---------------------------- HERO ----------------------------------*/
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/Hero.jpg");

  /* Set a specific height */
  height: calc(100vh - 60px);

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Scroll-down arrow
********************************************************************* */

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color-light);
}

.hero-text h1 {
  font-size: 3em;
}
.hero-text span {
  font-weight: 800;
  color: var(--orange);
}

.hero-text p {
  font-size: 1.2em;
}

/* ---------------------------- Intro text ----------------------------------*/
.intro-text {
  max-width: 1168px;
  margin: 5vh auto 5vh auto;
}

.intro-text-header {
  font-size: 2.3em;
  font-family: "playball";
  text-align: center;
  margin: 5vh auto 3vh auto;
  color: var(--dark);
}

.intro-text p {
  margin: auto;
  text-align: left;
  padding: 0 16px;
  color: var(--text-color-dark);
}

/* ---------------------------- Service text ---------------------------- */
.tilbyder-header {
  text-align: center;
  color: var(--text-color-dark);
  font-family: "playball";
  font-size: 2.3em;
  margin: 20px auto 0px auto;
}
#vedligeholdelse_heading {
  margin: 70px auto;
}

img {
  width: 100%;
}

.category-article {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75rem;
  margin: 0.5rem;
}

.category-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.blog-post {
  width: 100%;
  max-width: 1200px;
  padding: 2.5rem;
  display: flex;
  align-items: center;
}

.blog-post-klapbar {
  background-color: #f1f1f1;
}

.klapbar-mål {
  font-size: 0.7em;
  font-weight: 400;
  color: #bbb;
}

.blog-post_img {
  min-width: 26rem;
  max-width: 26rem;
  height: 20rem;
  transform: translateX(-1.3rem);
  position: relative;
}

.blog-post_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}

.blog-post_img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.4rem;
}

.blog-post_info {
  text-align: left;
}

.blog-post_title {
  font-size: 1.25rem;
  margin: 0.5rem 0 1rem;
  text-transform: uppercase;
  color: var(--dark);
}

.blog-post_text {
  margin-bottom: 1.5rem;
  font-size: 1em;
  color: var(--text-color-dark);
}

.blog-post_cta {
  display: inline-block;
  padding: 12px 14px;
  margin: 0 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #fff;
  background-color: var(--orange);
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.blog-post_cta:hover {
  transform: translateY(-4px);
  transition: 0.3s;
}

.blog-post_cta_reverse {
  display: inline-block;
  padding: 11px 13px;
  border: 1px solid var(--orange);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--orange);
  background-color: var(--white);
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.blog-post_cta_reverse:hover {
  transform: translateY(-4px);
  transition: 0.3s;
}

@media screen and (max-width: 1068px) {
  .blog-post {
    padding: 1.25rem;
    flex-direction: column;
  }

  .blog-post_img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -0rem);
  }
}

/* ---------------------------- Image carousel ----------------------------------*/
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1168px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

span.dot.active,
.dot:hover {
  background-color: var(--orange);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* ---------------------------- Accordion ----------------------------------*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion-container {
  max-width: 1164px;
  margin: 0 auto 6vh auto;
}

.accordion {
  background-color: var(--text-color-light);
  color: var(--text-color-dark);
  font-size: 1em;
  font-family: "montserrat";
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  box-shadow: 10px 10px 27px -18px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 27px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 27px -18px rgba(0, 0, 0, 0.75);
  outline: none;
  border-radius: 5px;
  transition: 0.4s;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  text-align: left;
  margin-bottom: 70px;
}

.panel span {
  font-weight: 800;
}

button.accordion::after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after {
  content: "\2212";
}

/* Kontakt side */
#kontakt {
  max-width: 1200px;
  margin: auto;
}

.kontakt-top {
  padding: 15% 20%;
}

.contact {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.contact-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.start-date,
.end-date {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 45%;
}

.specific-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.klapbar,
.krus,
.haner {
  width: 30%;
  text-align: start;
}

.contact-date,
.specific-information {
  margin: 0 0 2.5vh 0;
}

.contact-message {
  text-align: start;
}

select,
input[type="text"],
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: var(--orange);
  color: white;
  padding: 10px 18px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
}

input[type="submit"]:hover {
  border: 1px solid var(--orange);
  background-color: #ffffff;
  color: var(--orange);
}

.contact-form {
  padding: 0 20px;
}

.contact-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.last-name,
.first-name {
  width: 45%;
}

.personal-info {
  text-align: start;
}

/* ---------------------------- Tabs - Fadølsudlejning ----------------------------------*/
.tab_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.tab_container input,
.tab_container section {
  clear: both;
  display: none;
}

.tab-label {
  font-weight: 500;
  font-size: 1em;
  display: block;
  float: left;
  width: 25%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
  padding: 20px;
  background: #fff;
  border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3 {
  text-align: center;
}

.tab_container [id^="tab"]:checked + .tab-label {
  background: var(--white);
  box-shadow: inset 0 3px var(--orange);
}

.tab_container [id^="tab"]:checked + .tab-label .fa {
  color: var(--orange);
}

.tab-label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 900px) {
  .tab_container {
    width: 100%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.about-box-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 400px;
  padding: 20px 25px;
  height: auto;
  box-sizing: border-box;
  margin: 0 30px;
  position: relative;
  background-color: #f1f1f1;
}

.about-box i {
  height: 75px;
  font-size: 5rem;
}

.about-box h3 {
  color: var(--text-color-dark);
  font-size: 1.3em;
  letter-spacing: 1px;
  margin-bottom: 8px;
  text-align: center;
  font-family: "Montserrat";
}

.about-box p {
  color: var(--text-color-dark);
  text-align: left;
  height: auto;
  font-family: "Montserrat";
}

.prisliste {
  text-align: left;
}

.about-box i {
  color: var(--orange);
  font-size: 3.5rem;
  padding: 10px;
}

@media (max-width: 1150px) {
  .about-box-container {
    flex-wrap: wrap;
  }

  .about {
    height: auto;
  }

  .about-box {
    flex-grow: 1;
    margin: 1%;
  }
}

.main-header {
  margin: 5vh 0;
  font-size: 3em;
  font-family: "playball";
}

.category-header {
  font-family: "Yellowtail";
  font-size: 2em;
  font-weight: 500;
  color: var(--orange);
  margin-top: 30px;
}

/* MENU */
.menu-container {
  background-color: var(--dark);
  color: var(--text-color-light);
  max-width: 80vw;
  margin: 0 auto;
  padding: 0px 32px 50px 32px;
}

.menu-center {
  padding-top: 50px;
}

.menu-row a {
  background-color: var(--orange);
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1em;
  padding: 16px 31px;
  text-decoration: none;
}

.menu-right {
  float: right;
}

/*.menu-container-wrapper {
  text-align: left;
}*/

.menu-h2 {
  font-size: 1.2em;
  margin-top: 10px;
}

.menu-container-wrapper p {
  color: var(--orange);
  font-size: 0.85em;
}

.filterDiv {
  text-align: left;
  display: none; /* Hidden by default */
}

.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 20px 20px;
  background-color: var(--text-color-light);
  cursor: pointer;
  font-family: "montserrat";
  font-weight: 500;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.menuActive {
  background-color: var(--orange);
  color: white;
}

.ekstra-box-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 0.5rem;
  margin: 0 auto 5vh auto;
  display: flex;
  align-items: center;
}

.ekstra-box {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 600px;
  min-height: 200px;
  padding: 0px 25px;
  box-sizing: border-box;
  position: relative;
}

.ekstra-box h3 {
  color: var(--text-color-dark);
  font-family: "playball";
  font-size: 2em;
  text-align: left;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.ekstra-box p {
  color: var(--text-color-dark);
  text-align: left;
  height: auto;
  font-family: "Montserrat";
}

@media (max-width: 1150px) {
  .ekstra-box-container {
    flex-wrap: wrap;
  }

  .about {
    height: auto;
  }

  .ekstra-box {
    flex-grow: 1;
    margin: 1%;
  }
}

.contact-box-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.contact-box {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 600px;
  padding: 20px 25px;
  box-sizing: border-box;
  margin: 0 30px;
  position: relative;
}

.contact-box h3 {
  color: var(--orange);
  font-family: "playball";
  font-size: 2em;
  text-align: left;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.contact-box p {
  color: var(--text-color-dark);
  text-align: left;
  height: auto;
  font-family: "Montserrat";
}

@media (max-width: 1150px) {
  .contact-box-container {
    flex-wrap: wrap;
  }

  .about {
    height: auto;
  }

  .contact-box {
    flex-grow: 1;
    margin: 1%;
  }
}
